*{
    user-select: none;
}

input:focus {
    outline: none;
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: url(src/bg_v2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Inter;
}

p{
    font-weight: 1.2rem;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.main{
    position: relative;
    place-items: center;
    align-self: center;
    height: 100%;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px 260px 260px;
    grid-auto-rows: 350px;

    margin: 0 auto;

}

.topbar{
    z-index: 99999999999999999999999999;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 2px rgb(0, 0, 0);
}

.card{
    text-decoration: none;
    width: 200px;
    height: 320px;

    transition: all 0.25s;
    
    border-radius: 10px;

    margin: 0px;
}

.card:hover{
    cursor: pointer;
    transition: all 0.25s;
}

#video {
    color: rgba( 255, 255, 255, 0.7 );
    font-weight: 100;
}

::-webkit-scrollbar
{
    width: 0px;
}

.lit{
    margin-top: -3%;
    color: rgba( 255, 255, 255, 0.4 );
    font-weight: 100;
}

.rating{
    margin-top: 5%;
    margin-bottom: 3%;
    width: 60%;
    height: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.bar{
    height: 20px;
    background: linear-gradient(90deg, rgba(192,0,255,1) 0%, rgba(120,89,246,1) 64%);
    border-radius: 15px;
}

.thumbnail{
    border-radius: 7px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
    height: 150px; 
    width: 220px; 
    object-fit: cover; 
    margin: 35px auto;
}

.player{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;

    padding-bottom: 1%;

    position: fixed;
    margin: auto;

    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    padding: 0px;

    height: 85vh;
    width: 90vw; 

    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    
    border-radius: 40px;
    border: 3px solid rgba( 255, 255, 255, 0.1);

    animation: fadeIn 0.5s ease 0s 1 normal forwards;

    z-index: 999;
    overflow: hidden;
}

.playerhidden{
    display: none;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.SeasonCover{
    width: 23%;
    margin: 5px;
    height: auto;
    overflow: hidden;
    background-repeat: no-repeat; 
    background-size: contain;
    border: 1px solid #CACACA;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s;
}

.SeasonCover:hover{
    opacity: 0.6;   
    border: 1px white solid;
    transition: opacity 0.25s;
}

.EpisodesNumber{
    opacity: 1;

}


.SeasonCover:hover .EpisodesNumber{
    opacity: 1;
}

.Filter{
    height: 250px; 
    width: 200px;

    background: rgba(14, 14, 14, 0.445);

    border-radius: 10px;

    transition: all 0.25s;
}

.Filter:hover{
    background: rgba(52, 52, 52, 0.363);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}


@media(max-width: 1850px){
    .main{
        grid-template-columns: 260px 260px 260px 260px 260px;
        grid-template-rows: 430px 430px 430px 430px 430px 430px;
    }
}

@media(max-width: 1450px){
    .main{
        grid-template-columns: 260px 260px 260px 260px;
        grid-template-rows: 430px 430px 430px 430px 430px 430px;
    }
}

@media(max-width: 1150px){
    .main{
        grid-template-columns: 260px 260px 260px;
        grid-template-rows: 430px 430px 430px 430px 430px 430px;
    }
}

#filterInput{
    border-width: 0px;

    width: 180px;
    height: 30px;

    background-color: transparent;

    margin: 0px;
    padding: 0px;
    
    color: white;

    position: absolute;
    top: 5px;
    left: 10px;

    z-index: 100;
}

#filterInput::placeholder {
    color: #cacaca;
    font-family: Poppins;
}

.Close-button{
    border: 0px;
    border-radius: 5px;
    background-color: #f84434;
    height: 30px;
    width: 30px;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    transition: all 0.25s;
}

.Close-button:hover{
    box-shadow: 0px 0px 9px #f84434;
    cursor: pointer;
}

.site-container{
    height: 85vh; /* 85% of viewport height */
    width: 90vw; /* or whatever width you want */

    margin: auto;
    display: grid;

    position: absolute;

    grid-template-rows: 80px 300px 80px 1fr;

    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 40px;
    
    padding: 0rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.077);

    overflow-y: scroll;
    overflow-x: hidden;
}


.toppick{
    position: relative;

    cursor: pointer;

    height: 90%; 
    border-radius: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    overflow: hidden;

    z-index: 1;
}

#topPick1{
    width: 40%; 
    margin-right: 60px; 

    
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right;
}

#topPick2{
    width: 50%; 

    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right;
}

.TopPickTitle{
    font-size: 2.25rem;
    font-weight: 600;
    width: 40%;
    text-align: left;
    margin: 0px;
    position: absolute;
    top: 20px;
    left: 30px;

    font-family: Poppins;
}

.Top_Pick_Play_Movie{
    height: 12%;
    position: absolute;
    bottom: 40px;
    left: 30px;
}

#searchbar-wrapper{
    position: relative;

    margin: 0px;
    margin-left: -10%;

    width: 230px;
    height: 40px;

    border-radius: 45px;

    background-color: #000e1c;

    overflow: hidden;
}

#profile-wrapper{
    width: 30px;

    background: url(src/home.png);
    margin-top: 5px;
    margin-right: 40px;
}

.searchbar_button{
    background-color: transparent; 
    border: 0px; 
    color: #CACACA; 
    font-family: poppins; 
    position: absolute;
    cursor: pointer;

    z-index: 999;
}